@import url('https://fonts.googleapis.com/css?family=Oxygen');

h1 {
	text-align: center;
	font-size: 60px;
	font-family: Oxygen;
	font-weight: 800;
}
nav {
	padding: 10px;
	font-size: 15px;
}	

nav a {
	text-decoration: none;
	color: red;
	margin: .8em;
	display: inline-block;

}

#two-column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
} 

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}


h2, h3, ul {
	background-size: cover;
	text-align: left;
	font-family: Oxygen;
}
h1, h2 {color: red;
}

p {
  font-size: 15px;
  line-height: 2.5em;

 }


strong {
	font-variant: small-caps;
}

.founder {
	width: 150px;
	max-width: 200px;
}

#topImage {
	width: 750px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.services {
	width: 550px;
	max-width: 300px;
	padding-right: 50px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20 px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20 px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20 px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20 px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}