@import url('https://fonts.googleapis.com/css?family=Dosis');

h1 {
	text-align: center;
	font-size: 50px;
	font-family: Oxygen;
}
h2, h3, ul {
	background: white;
	background-size: cover;
	text-align: left;
	font-family: Oxygen;
}
h1, h2 {color: red;
}
p {
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
}
strong {
	font-variant: small-caps;
}