@import url('https://fonts.googleapis.com/css?family=Oxygen');

h1 {
	text-align: center;
	font-size: 60px;
	font-family: Oxygen;
}
ul{
	list-style: none;
	margin: 0;
	padding-bottom: .8em
}
h2, h3, ul {
	background-size: cover;
	text-align: left;
	font-family: Oxygen;
}
h1, h2 {color: red;
}
p {
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
}
strong {
	font-variant: small-caps;
}

.founder {
	width: 150px;
	max-width: 200px;
}

#topImage {
	width: 750px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#services {
	width: 250px;
	max-width: 300px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20 px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20 px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20 px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20 px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}